:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 2875px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.frame {
  position: relative;
  width: 1440px;
  height: 90px;
  margin: 0 0 0 0;
  z-index: 9;
  overflow: hidden;
}
.rectangle {
  position: absolute;
  width: 1440px;
  height: 93px;
  top: 0;
  left: 0;
  background: #012d63;
  z-index: 10;
}
.empty {
  position: absolute;
  width: 100px;
  height: 60px;
  top: 16px;
  left: 168px;
  background: url(./assets/images/b27f36e5091bf5502bf6a5eb013f4f7b3a64f566.png)
    no-repeat center;
  background-size: cover;
  z-index: 17;
}
.main-page {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 30px;
  left: 420px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.125px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.benefits {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 30px;
  left: 561px;
  color: #c6c6c6;
  font-family: Roboto, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 28.125px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.advantages {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 30px;
  left: 676px;
  color: #c6c6c6;
  font-family: Roboto, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 28.125px;
  text-align: left;
  white-space: nowrap;
  z-index: 13;
}
.reviews {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 30px;
  left: 830px;
  color: #c6c6c6;
  font-family: Roboto, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 28.125px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
}
.contacts {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 30px;
  left: 947px;
  color: #c6c6c6;
  font-family: Roboto, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 28.125px;
  text-align: left;
  white-space: nowrap;
  z-index: 15;
}
.order {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 30px;
  left: 1063px;
  color: #c6c6c6;
  font-family: Roboto, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 28.125px;
  text-align: left;
  white-space: nowrap;
  z-index: 16;
}
.custom-sneakers {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 508px;
  height: 84px;
  margin: 483px 0 0 165px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.094px;
  text-align: left;
  z-index: 3;
}
.rectangle-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 254px;
  height: 67px;
  margin: 41px 0 0 165px;
  background: #8d32c5;
  z-index: 6;
  border-radius: 10px;
}
.buy-nike {
  flex-shrink: 0;
  position: relative;
  height: 28px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.vector {
  position: relative;
  width: 1115px;
  height: 401px;
  margin: 285.5px 0 0 162.5px;
  background: url(./assets/images/1e3b2954-5b26-43b8-bc73-e8aac50d08c9.png)
    no-repeat center;
  background-size: cover;
  z-index: 19;
}
.fast-shipping {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 151px;
  height: 103px;
  top: 24.5px;
  left: 867.5px;
  color: #ffffff;
  font-family: Playfair Display, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 47.988px;
  text-align: center;
  text-overflow: initial;
  z-index: 80;
  overflow: hidden;
}
.premium-quality {
  position: absolute;
  width: 240px;
  height: 240px;
  top: 27.5px;
  left: 437.5px;
  background: url(./assets/images/7f4fc61d737023fd546e88885e8c9008c4d610ce.png)
    no-repeat center;
  background-size: cover;
  z-index: 84;
}
.line {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 159px;
  height: 102px;
  top: 27.5px;
  left: 93.5px;
  color: #ffffff;
  font-family: Playfair Display, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 47.988px;
  text-align: center;
  text-overflow: initial;
  z-index: 77;
  overflow: hidden;
}
.img-2 {
  position: absolute;
  width: 1px;
  height: 346px;
  top: 27.5px;
  left: 342.5px;
  background: url(./assets/images/5d3daefa-9587-426c-b9ef-882b07a76d2e.png)
    no-repeat center;
  background-size: cover;
  z-index: 85;
}
.line-2 {
  position: absolute;
  width: 1px;
  height: 346px;
  top: 27.5px;
  left: 772.5px;
  background: url(./assets/images/4817067c-b2b1-453a-83ea-ac9032e8ba56.png)
    no-repeat center;
  background-size: cover;
  z-index: 86;
}
.stars {
  position: absolute;
  width: 240px;
  height: 240px;
  top: 133.5px;
  left: 52.5px;
  background: url(./assets/images/f5870b55-029e-4d8b-9b11-822c4103a34e.png)
    no-repeat center;
  background-size: cover;
  z-index: 78;
}
.gruzan {
  position: absolute;
  width: 240px;
  height: 240px;
  top: 133.5px;
  left: 822.5px;
  background: url(./assets/images/fcd99d36c9c000142f8e4a0996505d473f66765f.png)
    no-repeat center;
  background-size: cover;
  z-index: 81;
}
.indelible-paint {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 161px;
  height: 102px;
  top: 277.5px;
  left: 477.5px;
  color: #ffffff;
  font-family: Playfair Display, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 47.988px;
  text-align: center;
  text-overflow: initial;
  z-index: 83;
  overflow: hidden;
}
.reviews-3 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 175px;
  height: 65px;
  margin: 127.5px 0 0 633px;
  color: #ffffff;
  font-family: Playfair Display, var(--default-font-family);
  font-size: 48px;
  font-weight: 400;
  line-height: 63.984px;
  text-align: center;
  white-space: nowrap;
  z-index: 21;
}
.flex-row-a {
  position: relative;
  width: 1309px;
  height: 406px;
  margin: 24px 0 0 -114px;
  z-index: 44;
}
.rectangle-4 {
  position: absolute;
  width: 255px;
  height: 292px;
  top: 0;
  left: 358px;
  font-size: 0px;
  background: url(./assets/images/d9622320-f4eb-4df9-a687-16e925c4efed.png)
    no-repeat center;
  background-size: cover;
  z-index: 24;
  border-radius: 15px;
}
.sneakers-comfortable {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 228px;
  height: 112px;
  margin: 49px 0 0 13px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.125px;
  text-align: left;
  z-index: 25;
}
.text-e {
  display: block;
  position: relative;
  height: 16px;
  margin: 8px 0 0 13px;
  color: #d7d7d7;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 26;
}
.flex-row-ab {
  position: absolute;
  width: 135px;
  height: 31px;
  top: 232px;
  left: 13px;
  z-index: 28;
}
.ellipse {
  position: absolute;
  width: 31px;
  height: 31px;
  top: 0;
  left: 0;
  background: url(./assets/images/3d706231-9739-4f0e-80af-b49b1354065b.png)
    no-repeat center;
  background-size: cover;
  z-index: 28;
  border-radius: 50%;
}
.with-us-2018 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  top: 17px;
  left: 36px;
  color: #d7d7d7;
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  z-index: 27;
}
.john-teylor {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 232px;
  left: 49px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 29;
}
.rectangle-5 {
  position: absolute;
  width: 255px;
  height: 292px;
  top: 0;
  left: 706px;
  font-size: 0px;
  background: url(./assets/images/4c84e62b-51f0-4df4-be8c-1557a1775378.png)
    no-repeat center;
  background-size: cover;
  z-index: 31;
  border-radius: 15px;
}
.color-scheme-happy {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 228px;
  height: 112px;
  margin: 49px 0 0 18px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.125px;
  text-align: left;
  z-index: 32;
}
.text-12 {
  display: block;
  position: relative;
  height: 16px;
  margin: 8px 0 0 18px;
  color: #d7d7d7;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}
.flex-row-cf {
  position: absolute;
  width: 137px;
  height: 31px;
  top: 232px;
  left: 18px;
  z-index: 36;
}
.ellipse-6 {
  position: absolute;
  width: 31px;
  height: 31px;
  top: 0;
  left: 0;
  background: url(./assets/images/eb390f08-2aa0-4091-91de-f8bc3332c8a8.png)
    no-repeat center;
  background-size: cover;
  z-index: 35;
  border-radius: 50%;
}
.elizabeth-garsia {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0;
  left: 36px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 36;
}
.with-us-2020 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  top: 249px;
  left: 54px;
  color: #d7d7d7;
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  z-index: 34;
}
.rectangle-7 {
  position: absolute;
  width: 255px;
  height: 292px;
  top: 0;
  left: 1054px;
  font-size: 0px;
  background: url(./assets/images/32ccaddb-fb55-4838-8312-5bebb35e5e9c.png)
    no-repeat center;
  background-size: cover;
  z-index: 38;
  border-radius: 15px;
}
.party-paint-super {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 228px;
  height: 112px;
  margin: 49px 0 0 18px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.125px;
  text-align: left;
  z-index: 39;
}
.text-16 {
  display: block;
  position: relative;
  height: 16px;
  margin: 8px 0 0 18px;
  color: #d7d7d7;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 40;
}
.flex-row-adb {
  position: absolute;
  width: 123px;
  height: 31px;
  top: 232px;
  left: 18px;
  z-index: 43;
}
.ellipse-8 {
  position: absolute;
  width: 31px;
  height: 31px;
  top: 0;
  left: 0;
  background: url(./assets/images/9b1417ba-fcbc-4b8b-8048-2a240c6e9aa0.png)
    no-repeat center;
  background-size: cover;
  z-index: 42;
  border-radius: 50%;
}
.tom-maquare {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0;
  left: 36px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 43;
}
.with-us-2019 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  top: 249px;
  left: 54px;
  color: #d7d7d7;
  font-family: Roboto, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  z-index: 41;
}
.flowers {
  position: absolute;
  width: 340px;
  height: 380px;
  top: 26px;
  left: 0;
  background: url(./assets/images/db150c6a-ccfb-490e-8ee1-44229b913af3.png)
    no-repeat center;
  background-size: cover;
  z-index: 44;
}
.order-9 {
  display: block;
  position: relative;
  height: 64px;
  margin: 21px 0 0 655px;
  color: #ffffff;
  font-family: Playfair Display, var(--default-font-family);
  font-size: 48px;
  font-weight: 400;
  line-height: 63.984px;
  text-align: left;
  white-space: nowrap;
  z-index: 57;
}
.rectangle-a {
  position: relative;
  width: 690px;
  height: 60px;
  margin: 33px 0 0 375px;
  background: #ffffff;
  z-index: 46;
  overflow: hidden;
  border-radius: 50px;
}
.rectangle-b {
  position: absolute;
  width: 250px;
  height: 50px;
  top: 5px;
  left: 433px;
  opacity: 0.5;
  z-index: 51;
  border-radius: 50px;
}
.write-email {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 35px;
  top: 12px;
  left: 25px;
  color: #949494;
  font-family: Roboto, var(--default-font-family);
  font-size: 28px;
  font-weight: 400;
  line-height: 32.813px;
  text-align: left;
  white-space: nowrap;
  z-index: 53;
}
.confirm {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 33.673px;
  top: 13.163px;
  left: 510.621px;
  color: #8d8d8d;
  font-family: Roboto, var(--default-font-family);
  font-size: 28px;
  font-weight: 400;
  line-height: 32.813px;
  text-align: left;
  white-space: nowrap;
  z-index: 52;
}
.rectangle-c {
  position: relative;
  width: 580px;
  height: 50px;
  margin: 19px 0 0 430px;
  cursor: pointer;
  background: #ffffff;
  border: none;
  z-index: 56;
  border-radius: 50px;
}
.your-country {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: 11px;
  left: 24px;
  color: #949494;
  font-family: Roboto, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 56;
}
.rectangle-d {
  position: relative;
  width: 580px;
  height: 50px;
  margin: 19px 0 0 430px;
  background: #ffffff;
  z-index: 54;
  overflow: hidden;
  border-radius: 50px;
}
.your-city {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: 11px;
  left: 24px;
  color: #949494;
  font-family: Roboto, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 54;
}
.rectangle-e {
  position: relative;
  width: 580px;
  height: 50px;
  margin: 19px 0 0 430px;
  background: #ffffff;
  z-index: 55;
  overflow: hidden;
  border-radius: 50px;
}
.your-adress {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: 11px;
  left: 24px;
  color: #949494;
  font-family: Roboto, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 55;
}
.rectangle-f {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 248px;
  height: 68px;
  margin: 19px 0 0 596px;
  background: #8e32c6;
  z-index: 60;
  border-radius: 16px;
}
.order-my-nike {
  flex-shrink: 0;
  position: relative;
  height: 28px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 60;
}
.flex-row-d {
  position: relative;
  width: 1440px;
  height: 316px;
  margin: 37px 0 0 0;
  z-index: 72;
}
.rectangle-10 {
  position: absolute;
  width: 1440px;
  height: 292px;
  top: 0;
  left: 0;
  background: #021635;
  z-index: 62;
}
.flex-row-cc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1111px;
  height: 28px;
  margin: 45px 0 0 165px;
  z-index: 67;
}
.have-a-question {
  flex-shrink: 0;
  position: relative;
  height: 28px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 67;
}
.colorawe-support-email {
  flex-shrink: 0;
  position: relative;
  height: 28px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 63;
}
.flex-row-c {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1111px;
  height: 28px;
  margin: 10px 0 0 165px;
  z-index: 68;
}
.have-a-proposal {
  flex-shrink: 0;
  position: relative;
  height: 28px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 68;
}
.colorawe-cooperation-email {
  flex-shrink: 0;
  position: relative;
  height: 28px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 64;
}
.flex-row-e {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1111px;
  height: 28px;
  margin: 10px 0 0 165px;
  z-index: 69;
}
.advertising-questions {
  flex-shrink: 0;
  position: relative;
  height: 28px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 69;
}
.colorawe-advertising-email {
  flex-shrink: 0;
  position: relative;
  height: 28px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 65;
}
.flex-row-a-11 {
  position: relative;
  width: 1123px;
  height: 81px;
  margin: 19px 0 0 165px;
  z-index: 73;
}
.img-7 {
  position: absolute;
  width: 108px;
  height: 81px;
  top: 0;
  left: 1015px;
  background: url(./assets/images/b27f36e5091bf5502bf6a5eb013f4f7b3a64f566.png)
    no-repeat center;
  background-size: cover;
  z-index: 71;
}
.line-12 {
  position: absolute;
  width: 1110px;
  height: 1px;
  top: 1px;
  left: 0;
  background: url(./assets/images/c5b407b7-1965-455a-9c1d-b5e78610b50f.png)
    no-repeat center;
  background-size: cover;
  z-index: 66;
}
.copy-right {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 25px;
  left: 0;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 70;
}
.united-states {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 53px;
  left: 0;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 73;
}
.c-and-r {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 178px;
  height: 86px;
  top: 230px;
  left: 1206px;
  color: #ffffff;
  font-family: PT Serif, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 31.8px;
  text-align: left;
  z-index: 72;
}
.group {
  position: absolute;
  width: 1440px;
  height: 858px;
  top: 90px;
  left: 1px;
  background: url(./assets/images/d8899af10356ff5da2cbed8122c6573ace2dbe0c.png)
    no-repeat center;
  background-size: cover;
}
.empty-13 {
  position: absolute;
  width: 160px;
  height: 120px;
  top: 184px;
  left: 171px;
  background: url(./assets/images/b27f36e5091bf5502bf6a5eb013f4f7b3a64f566.png)
    no-repeat center;
  background-size: cover;
  z-index: 8;
}
.flex-row-d-14 {
  position: absolute;
  width: 640px;
  height: 292px;
  top: 269px;
  left: 157px;
  z-index: 7;
}
.c-and-r-15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 86px;
  top: 0;
  left: 39px;
  color: #ffffff;
  font-family: PT Serif, var(--default-font-family);
  font-size: 48px;
  font-weight: 400;
  line-height: 63.6px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.colo-rawe {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 192px;
  top: 40px;
  left: 0;
  color: #ffffff;
  font-family: Playfair Display, var(--default-font-family);
  font-size: 144px;
  font-weight: 400;
  line-height: 191.952px;
  text-align: left;
  white-space: nowrap;
  z-index: 1;
}
.dream-nike {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 96px;
  top: 196px;
  left: 8px;
  color: #ffffff;
  font-family: Playfair Display, var(--default-font-family);
  font-size: 72px;
  font-weight: 400;
  line-height: 95.976px;
  text-align: left;
  white-space: nowrap;
  z-index: 2;
}
.group-16 {
  position: absolute;
  width: 1440px;
  height: 606px;
  top: 948px;
  left: 0;
  background: url(./assets/images/2024c879-6107-4e4d-9478-a20c76b83c9f.png)
    no-repeat center;
  background-size: cover;
  z-index: 18;
}
.group-17 {
  position: absolute;
  width: 1440px;
  height: 520px;
  top: 1554px;
  left: 0;
  background: url(./assets/images/f2548c13-849a-406e-a0b3-b29b0976122c.png)
    no-repeat center;
  background-size: cover;
  z-index: 20;
}
.line-18 {
  position: absolute;
  width: 1440px;
  height: 2px;
  top: 1553px;
  left: 0;
  background: url(./assets/images/ccb4ea41-d1c8-4eb3-a8d0-a5193aca9387.png)
    no-repeat center;
  background-size: cover;
  z-index: 74;
}
.group-19 {
  position: absolute;
  width: 1440px;
  height: 509px;
  top: 2074px;
  left: 0;
  background: url(./assets/images/f69ed84f-8a43-4ca9-a204-c55a3ffc0e4a.png)
    no-repeat center;
  background-size: cover;
  z-index: 45;
}
.line-1a {
  position: absolute;
  width: 1440px;
  height: 2px;
  top: 2073px;
  left: 0;
  background: url(./assets/images/cade3d67-6873-4391-ad47-af6e447f4a29.png)
    no-repeat center;
  background-size: cover;
  z-index: 75;
}
