body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #001035;
    color: white;
}

header {
    background-color: #001035;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

nav ul li {
    margin: 0 10px;
}

.lang {
    display: flex;
    justify-content: flex-end;
}

.logo {
    width: 100px; /* Размер логотипа */
}

.hero {
    position: relative;
    text-align: center;
    color: white;
    height: 80vh;
    overflow: hidden;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 2.5em;
}

.hero p {
    font-size: 1em;
}

.hero button {
    background-color: #6c3eff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.feature {
    text-align: center;
}

.feature img {
    width: 100px;
    height: auto;
}

.reviews {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.review {
    background-color: #0b1124;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
}

.order-section {
    background-image: url('./img/Group\ 2\ 1.png'); /* Добавьте ваш фон */
    background-size: cover;
    background-position: center;
    padding: 20px 0;
}

.order {
    text-align: center;
    background-color: rgba(0, 16, 53, 0.8); /* Прозрачный темный фон */
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    width: 80%;
    max-width: 500px;
}

.order h2 {
    margin-bottom: 10px;
}

.order form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order input {
    margin: 5px 0;
    padding: 10px;
    width: 90%;
    border: 1px solid #6c3eff;
    border-radius: 5px;
    font-size: 0.9em;
    color: #000;
    background-color: #fff;
}

.order input::placeholder {
    color: #6c3eff;
}

.order button {
    background-color: #6c3eff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 10px;
    width: 90%;
}

footer {
    background-color: #001035;
    padding: 20px;
    text-align: center;
}

footer .footer-text p,
footer .footer-emails p,
footer .footer-bottom p {
    margin: 5px 0;
}

.footer-emails {
    margin: 20px 0;
}

.footer-bottom {
    margin-top: 10px;
    border-top: 1px solid #6c3eff;
    padding-top: 10px;
}
